<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @vendor.name %>
</p>

<p>
  <b>Address:</b>
  <%= @vendor.address %>
</p>

<p>
  <b>Phone:</b>
  <%= @vendor.phone %>
</p>

<p>
  <b>Website:</b>
  <%= @vendor.website %>
</p>


<%= link_to 'Edit', edit_vendor_path(@vendor) %> |
<%= link_to 'Back', vendors_path %>
