<%= form_for(@asset) do |f| %>
  <% if @asset.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@asset.errors.count, "error") %> prohibited this asset from being saved:</h2>

      <ul>
      <% @asset.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :vendor_sku_number %><br />
    <%= f.text_field :vendor_sku_number %>
  </div>
  <div class="field">
    <%= f.label :status %><br />
    <%= f.text_field :status %>
  </div>
  <div class="field">
    <%= f.label :mac_address %><br />
    <%= f.text_field :mac_address %>
  </div>
  <div class="field">
    <%= f.label :serial_number %><br />
    <%= f.text_field :serial_number %>
  </div>
  <div class="field">
    <%= f.label :quantity_in_stock %><br />
    <%= f.number_field :quantity_in_stock %>
  </div>
  <div class="field">
    <%= f.label :quantiy_recieved %><br />
    <%= f.number_field :quantiy_recieved %>
  </div>
  <div class="field">
    <%= f.label :quantity_shipped %><br />
    <%= f.number_field :quantity_shipped %>
  </div>
  <div class="field">
    <%= f.label :at_location_at %><br />
    <%= f.date_select :at_location_at %>
  </div>
  <div class="field">
    <%= f.label :decomissioned_at %><br />
    <%= f.date_select :decomissioned_at %>
  </div>
  <div class="field">
    <%= f.label :purchased_at %><br />
    <%= f.date_select :purchased_at %>
  </div>
  <div class="field">
    <%= f.label :intended_site %><br />
    <%= f.text_field :intended_site %>
  </div>
  <div class="field">
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :extended_price %><br />
    <%= f.text_field :extended_price %>
  </div>
  <div class="field">
    <%= f.label :rus_category %><br />
    <%= f.text_field :rus_category %>
  </div>
  <div class="field">
    <%= f.label :rus_subcategory %><br />
    <%= f.text_field :rus_subcategory %>
  </div>
  <div class="field">
    <%= f.label :budget_line_item %><br />
    <%= f.text_field :budget_line_item %>
  </div>
  <div class="field">
    <%= f.label :contract %><br />
    <%= f.text_field :contract %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
