<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @site.name %>
</p>

<p>
  <b>Number:</b>
  <%= @site.number %>
</p>

<p>
  <b>Gps:</b>
  <%= @site.gps %>
</p>

<p>
  <b>Kind:</b>
  <%= @site.kind %>
</p>

<p>
  <b>City:</b>
  <%= @site.city %>
</p>

<p>
  <b>County:</b>
  <%= @site.county %>
</p>


<%= link_to 'Edit', edit_site_path(@site) %> |
<%= link_to 'Back', sites_path %>
